<div class="row" id="project-list">
  <!-- project-list  -->
  <div class="col-md-4 animate-show-hide"
    ng-repeat="project in projects" >
    <a href="" ng-click="validate(project.project_id)">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading clearfix">
          {{project.name}}
          <div class="pull-right"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img ng-if="project.img_url.length <= 0"
                class="thumbnail img-responsive" src="./img/noimage.gif"
                width="100"> <img ng-if="project.img_url.length > 0"
                class="thumbnail img-responsive" src="{{img_url}}"
                width="100">
            </div>
            <div class="col-md-8">
              <p ng-bind-html="project.description"></p>
            </div>
          </div>
        </div>
      </div>
   </a>
  </div>

</div>
<div class="row">
      <input type="button" name="submit" id="submit" value="プロジェクトを作成する"
        class="btn btn-info center-block"" ng-click="open()" >
</div>
<div ng-include="'view/partials/message.html'"></div>