<div class="panel panel-default panel-info">
  <div class="panel-heading clearfix">
    やりとり#{{card.exchange_id}}履歴#{{card.seq}}<br />
    {{card.user_name}}さんが書きました
    <div class="pull-right"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 bold">
      <div  ng-if="card.change_log">
      {{card.change_log}}
      </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <img class="thumbnail img-responsive" src="img/user/{{card.image}}" width="100">
      </div>
      <div class="col-xs-8">
        <p ng-bind-html="card.description">
        </p>
      </div>
    </div>
  </div>
</div>
