  <div class="modal-header">
    <h3 class="modal-title">やりとりの作成</h3>
  </div>
  <div class="modal-body">

    <div class="input-modal">
      <div class="row">
        <form role="form">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="title">タイトル</label>
              <div class="input-group">
                <input type="text" class="form-control" name="title"
                  id="title" placeholder="○○の件について" required
                  ng-model="title"> <span
                  class="input-group-addon"><span
                  class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <label for="status">ステータス</label>
              <div class="input-group">
                <select class="form-control" id="status"
                  ng-model="status"
                  ng-options="opt.id as opt.name for opt in statusOptions">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="partner">やり取り相手</label>
              <div class="input-group">
                <select class="form-control" id="partner"
                  ng-model="partner"
                  ng-options="opt.id as opt.name for opt in partnerOptions">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="startdate">開始日</label>
              <div class="input-group">
                <input type="date" ng-model="startdate" id="startdate">
              </div>
            </div>

            <div class="form-group">
              <label for="enddate">期日</label>
              <div class="input-group">
                <input type="date" ng-model="enddate" id="enddate">
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="description">説明</label>
                <textarea class="form-control" rows="3"
                  ng-model="description" id="description"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div ng-include="'view/partials/message.html'"></div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" name="submit" id="submit" value="登録"
      class="btn btn-info pull-right" ng-click="ok()">
    <button class="btn btn-warning" ng-click="cancel()">閉じる</button>
  </div>
</div>

