<div class="panel panel-default panel-info">
  <div class="panel-heading clearfix">
    履歴＃{{card.number}} - {{card.person_name}}さんが書きました
    <div class="pull-right"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 bold">
      <div  ng-if="card.header_text.status">
        ステータス<strong>{{card.header_text.status}}</strong>に変更
      </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <img ng-if="card.img_url.length <= 0" class="thumbnail" src="./img/noimage.gif" width="100">
        <img ng-if="card.img_url.length > 0" class="thumbnail" src="{{img_url}}" width="100">
      </div>
      <div class="col-md-8">
        <p>
          説明文テスト<br>説明文テスト<br>説明文テスト
        </p>
      </div>
    </div>
  </div>
</div>
